@font-face {
  font-family: 'Segoe';
  src: url('segoe-font.ttf');
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 1024px) {
  section.home {
    font-size: 8px !important;
  }
}
@media (max-width: 848px) {
  section.home {
    font-size: 6px !important;
  }
    form {
    max-width: 500px !important;
  }
}
@media (max-width: 674px) {
  .links-responsive {
    font-size: 3em !important;
  }
  img.cintilla2 {
    width: 200px !important;
  }
  .modal1, .modal2, .modal3 {
    width: 80% !important;
  }

  .menu {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .menu-responsive {
    /* display: block !important; */
  }
.redes {
  bottom: 30px;
  position: absolute !important;
  right: 30px;
  text-align: center !important;
}
.icons {
  text-align: center !important;
}
.redes img {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  width: 50px;
  display: inline;
  animation: redes 1s ease forwards infinite;

}


.redes-g {
    display: none;
  }
  
  section.fanny {
    width: 100% !important;
  }
  section.fanny img.cintilla {
  max-width: 350px !important;
}
}

@media (max-width: 400px) {
  section.fanny img.cintilla {
    max-width: 300px !important; 
  } 
  img.cintilla2 {
  }
}

body, h1, h2, h3, h4, h5, li, ul {
  margin: 0;
  padding: 0;
  font-family: 'Segoe';
}
body {

  background: #C1E9E9 url(../img/bg.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

a {
  text-decoration: none;
}

section.home{
 width: 100%;
 font-size: 10px;
}

.container ul li {
  color: white;
  background: rgba(198, 99, 99, 0.5);
  margin-top: 30px;
  text-align: right;
  font-size: 3em;
  padding: 5px 15px 5px;
}
.green {
  background: rgba(148, 216, 167, 0.7) !important;
}

.container ul li:hover {
  animation: links .22s ease forwards;
}

@keyframes links {
  0% {
    padding: 5px 15px 5px;
  }
  100% {
    padding: 5px 25px 5px;
  }
}

.menu{
  width: 20%;
  left: -20%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  animation: menuan 1s ease forwards;
}

@keyframes menuan {
  0% {
    left: -20%;
  }
  100% {
    left: 0;
  }
}

.menu-responsive {
  display: none;
  text-align: center;
  overflow: hidden;
  width: 50%;
  height: 100vh;
  position: fixed;
  right: -50%;
  background: #C66363;
  z-index: 2;
  animation: menu 1s ease forwards;
  }
  @keyframes menu {
    0% {
      right: -50%;
    }
    100% {
      right: 0;
    }
  }
.links-responsive {
  font-size: 2.5em;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  }
  .links-responsive li {
    color: white !important;
    list-style: none;
    margin-bottom: 20px;
  }
.hamburger {
  background: white;
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: solid 4px #C66363;
  border-radius: 10%;
  z-index: 1;
  cursor: pointer;
}
.lines {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
.line {
  width: 20px;
  height: 1px;
  border: solid 1.99px #C66363;
  margin-bottom: 5px;
  background: #C66363;
}

.redes-g {
  width: 20%;
  bottom: 50px !important;
  float: left !important;
  position: fixed !important;
  text-align: center !important;
}
.icons {
  text-align: center;
}

.redes-g img {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  width: 50px;
  display: inline;
  animation: redes 1s ease forwards infinite;
}
@keyframes redes {
  0% {
    width: 50px;
  }
  100% {
    width: 45px;
  }
}

section.fanny {
  width: 80%;
  position: relative;
  float: right;
  text-align: center;
}
.h2 {
  margin: -100px auto 30px auto;
  max-width: 370px;
  color: white;
  font-size: 4em;
  background: rgba(198, 99, 99, 0.5);
  overflow: hidden;
  animation: bien 1.5s ease forwards;
}

@keyframes bien {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 50px;
  }
}

.h2-verde {
  margin: 50px auto 30px auto;
  max-width: 500px;
  color: white;
  font-size: 4em;
  background: rgba(148, 216, 167, 0.5);
}
section.fanny img.fanny-img {
  max-width: 50px;
  animation: fanny 1.6s ease .1s forwards;
}

@keyframes fanny {
  0% {
    max-width: 50px;
  }
  60% {
    max-width: 200px;
  }
  100% {
    max-width: 175px;
  }
}

section.fanny img.cintilla {
  margin-top: 30px;
  max-width: 450px;
  animation: rotacion 1.5s ease 1s forwards infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
      transform: rotate(-2deg);
  }

}

section.fanny p {
  opacity: 0;
  color: #C66363;
  font-size: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
  animation: text 3s ease forwards;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video {
  width: 100%;
  float: left;
  cursor: pointer;
  z-index: 1;
}
.videos {
  position: relative;
}
.box1 {
  float: left;
  width: 33.333333333%;
  position: relative;
}

.box1:hover .hover-pink1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #C66363;
  z-index: 1;
  overflow: hidden;
  top: 100%;
  cursor: pointer;
  opacity: 0.5;
  
}
.hover h3 {
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5em;
  opacity: 0;
}
.box1:hover .hover-pink1 {
  animation: slideup 0.5s ease forwards;
}
@keyframes slideup {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

.box1:hover .hover h3 {
  opacity: 1;
}


.box2 {
  float: left;
  width: 33.333333333%;
  position: relative;
}
.box2:hover .hover-pink2 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #C66363;
  z-index: 1;
  overflow: hidden;
  top: 100%;
  cursor: pointer;
  opacity: 0.5;
}
.box2:hover .hover-pink2 {
  top: 0;
}

.box2:hover .hover h3 {
  opacity: 1;
}
.box2:hover .hover-pink2 {
  animation: slideup 0.5s ease forwards;
}
.box3 {
  float: left;
  width: 33.333333333%;
  position: relative;
}
.box3:hover .hover-pink3 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #C66363;
  z-index: 1;
  overflow: hidden;
  top: 100%;
  cursor: pointer;
  opacity: 0.5;
}
.box3:hover .hover-pink3 {
  top: 0;
}
.box3:hover .hover h3 {
  opacity: 1;
}
.box3:hover .hover-pink3 {
  animation: slideup 0.5s ease forwards;
}

span.click-me {
  position: static;
  display: block;
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
  font-size: 2em;
  color: #C66363;
  animation: color 1s ease backwards infinite;
}
@keyframes color {
  0% {
   color: #C66363;
  }
  25% {
    color: #94D8A7;
  }
  50% {
    color: #C66363;
  }
  75% {
    color: #94D8A7;
  }
  100% {
    color: #C66363;
  }
}

.video-modal {
  width: 80%;
  padding: 15px;
  box-sizing: border-box;
}
img.cintilla2  {
  max-width: 300px;
  margin: 10px auto 0px auto;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.0);
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  animation: overlay 2s ease forwards;
}
@keyframes overlay {
  0% {
    background: rgba(0, 0, 0, 0.0);
  }
  100% {
    background: rgba(0, 0, 0, 0.8);
  }
}
span.cerrar {
  font-size: 2em;
  position: absolute;
  top: 0px;
  right: 0px;
  color: black;
  cursor: pointer;
}
.modal1, .modal2, .modal3 {
  text-align: center;
  background: white;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border: 2px solid #63C67F;
  height: 500px;
  overflow-y: scroll;
  display: none;
}
.modal1, .modal2, .modal3 p {
  color: #63C67F;
  padding-left: 20px;
  padding-right: 20px;
}
.cta-cerrar {
  color: white;
  background: #63C67F;
  padding: 5px;
  max-width: 200px;
  margin: 0 auto 10px auto;
  cursor: pointer;
}

/* SUEÑOS! */
.cuadro-sueños {
  margin: 20px auto;
  color: white !important;
  padding: 50px;
  max-width: 700px;
  background: rgba(198, 99, 99, 0.5);
}
form {
  max-width: 600px;
  margin: 0 auto 150px;
}
input, textarea {
  font-family: 'Segoe';
  border: 3px solid #63C67F;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
input, textarea:focus {
  outline: none;
  color: #94D8A7;
}

.contact-info label {
  width: 48%;
  box-sizing: border-box;
}
.contact-info label:nth-child(1) {
  padding-right: 10px;
  float: left;
}
.contact-info label:nth-child(2) {
  padding-left: 10px;
  float: right;
}
label {
  font-size: 2em;
  color: #63C67F;
  display: block;
  margin-bottom: 20px;
}

span {
  text-align: left;
  display: block;
}
form [type="submit"] {
  font-size: 2em;
  float: right;
  max-width: 200px;
  cursor: pointer;
  background: white;
  color: #63C67F;
}

form [type="submit"]:hover {
  background: #63C67F;
  color: white;
  margin-bottom: 50px;
}

textarea {
  height: 10em;
}
